<div class="text-center login-content">
<h1 class="title-text">Tango</h1>
<br>
<br>
<h5 class='title-description'>personalized weekly playlists for you.</br>delivered directly to your streaming service.</h5>

<div class="home">
  <%= link_to "login with facebook", "/auth/facebook", class:"btn btn-primary btn-lg fb-login", style: "font-size:30px"%>
</div>
</div>
